div.EventList {
  justify-content: space-around;
}

.header-row {
  display: flex;
  padding: 0 10px;
}

.header {
  font-weight: bolder;
  font-size: 17px;
  margin: 0;
}

.header,
.table-cell {
  padding: 5px;
}

.table-cell {
  font-size: 12px;
}

.table-row-link {
  padding: 10px 5px;
  display: flex;
  color: black;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

.table-row-link:hover {
  background-color: rgba(105, 105, 105, 0.19);
}

.table-cell:nth-child(1),
.header:nth-child(1) {
  display: flex;
  margin: 0;
  width: 50%;
}

.table-cell:nth-child(2),
.header:nth-child(2) {
  display: flex;
  margin: 0;
  width: 20%;
}

.table-cell:nth-child(3),
.header:nth-child(3) {
  display: flex;
  margin: 0;
  width: 20%;
}

.table-cell:nth-child(4),
.header:nth-child(4) {
  display: flex;
  margin: 0;
  width: 10%;
}

.create-event-link {
  text-decoration: none;
  color: black;
  margin-top: 20px;
}

#search {
  margin: 20px 10px;
}
