div.EventList {
  justify-content: space-around;
}

.events-table {
  background-color: rgb(177, 223, 147);
  padding-bottom: 3%;
}

.header-row {
  display: flex;
  padding: 0 10px;
  background-color: rgb(148, 184, 125);
  color: white;
}

.header {
  font-weight: bolder;
  font-size: 17px;
  margin: 0;
}

.header,
.table-cell {
  padding: 5px;
}

.table-cell {
  font-size: 12px;
}

.table-row-link {
  padding: 10px 5px;
  display: flex;
  color: black;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

.table-row-link:hover {
  background-color: rgba(105, 105, 105, 0.19);
}

.table-cell:nth-child(1),
.header:nth-child(1) {
  display: flex;
  margin: 0;
  width: 50%;
}

.table-cell:nth-child(2),
.header:nth-child(2) {
  display: flex;
  margin: 0;
  width: 20%;
}

.table-cell:nth-child(3),
.header:nth-child(3) {
  display: flex;
  margin: 0;
  width: 20%;
}

.table-cell:nth-child(4),
.header:nth-child(4) {
  display: flex;
  margin: 0;
  width: 10%;
}

.create-event-link {
  text-decoration: none;
  color: black;
  margin-top: 20px;
  padding: 10px;
  font-size: 15px;
}

#search {
  padding: 20px 10px;
  color: white;
  background-color: rgb(141, 172, 120);
}

@media only screen and (min-width: 800px) {
  .table-cell {
    font-size: 13px;
  }
}
