div.EventList {
}

div.header-row {
  display: flex;
  flex-wrap: wrap;
  margin: 2% 0;
}

.header {
  width: 16.6%;
  font-weight: bolder;
}

div.header {
  font-size: 15px;
  margin: 0;
}

div.table-row {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

div.table-cell {
  font-size: 12px;
  margin: 0;
  width: 16.6%;
}

.create-event-link {
  text-decoration: none;
  color: black;
  margin-top: 20px;
}
