.event-details {
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
}

.event-description {
  padding: 15px 0;
}

.ev-desc {
  font-size: 15px;
}

.details {
  padding: 0;
}

.details > ul,
.details > li {
  list-style: none;
  text-indent: none;
}

.details > li {
  padding: 5px 0;
}

.edit-delete {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
