.event-form {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event-form > label {
  display: block;
  padding: 10px 10px;
}

.create-submit {
  margin-top: 10px;
  display: block;
  font-size: 15px;
  font-weight: bolder;
  padding: 5px;
  border: none;
  background-color: white;
}

.create-submit:hover {
}

fieldset.non-desc,
.desc {
  display: flex;
  flex-direction: column;
  border: none;
  width: 50%;
  font-size: 17px;
}

.desc {
  align-self: center;
  justify-content: space-between;
}

.desc > textarea {
  width: 300px;
}
